<div class="coke-card">
    <div class="coke-card-header">
       {{coke_name}}
    </div>
    <div class="card-body">
        <div class="coke-card-text">
            <p>Price: ${{coke_price}}</p>
            <p>Size: {{coke_size}}</p>
            <p>Quantity: {{coke_quantity}}</p>
        </div>
    </div>
</div>
```
<p>
    Name: {{Coke_name}}<br>
    Price: ${{Coke_price}}<br>
    Size: {{Coke_size}}<br>
    Quantity: {{Coke_quantity}}<br>
</p>
